<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Title Me{% endblock %}</title>
  <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();
  </script>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"
          media="screen and (min-width: 48em)">
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<div id="shell" class="pure-g">
<div id="control-sidebar" class="sidebar pure-u-1 pure-u-md-1-5">
    <div>




    {% if not session.auth_user %}
        <h1>Log in to Blog Browser</h1>

            {% if state == 'bad' %}{# detect if we need to show the error message #}
                <p class="error">Invalid user name or password.</p>
            {% endif %}
            <form method="POST" action="/login">
                <h2>User:<br> <input type="text" name="user"></h2>
                <h2>Password:<br> <input type="password" name="password"></h2>
                <button type="submit" class = "pure-button pure-button-primary">Log In</button>
            </form>

    {% else %}
         Logged in as {{ auth_user }}
         <br><br>
         <a href="/logout?={{ request.path }}"><button type="button" class = "pure-button pure-button-primary">Log out</button></a>
    {% endif %}
    </div>
</div>

<main id="main" class="main pure-u-1 pure-u-md-4-5">
{% block content %}
    Fill me in!
{% endblock %}
</main>

</div>
</body>
</html>